* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
    box-shadow: 3px 3px 5px 1px rgb(109, 109, 109); 
    div.logo {
        display: flex;
        align-items: center;
        flex: 5 1 400px;//把logo和nav bar分開兩邊
        margin-left: 2rem;
        img {
            width: 6vw;
            height: 6vw;
        }
    }

    nav {
       flex: 2 1 400px; //把logo和nav bar分開兩邊
       ul {
        display: flex;
        list-style-type: none;
        justify-content: space-around;//將nav bar的字分散對齊
        li {
            
            a {
                text-decoration: none;
                color: #09777D;
                font-size: 1.35rem;
            }
        }
       } 
    }
}

main {
    section.backImage {
        width: 100%;
        min-height: 90vh;
        background-image: url("../Pictures/pexels-photo-416676.jpeg");
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;

        h3 {
            font-size: 3.5rem;
            color: white;
            margin: 2rem 0rem;
        }

        button.start {
            padding: 0.75rem 1rem;
            background-color: aqua;
            font-size: 1.5rem;
            color: black;
            border-radius: 1rem;
            border: none;
            cursor: pointer;
        }

        div.filter {
            background-color: rgba(0, 0, 0, 0.2);
            width: 100%;
            min-height: 90vh;
            position: absolute;
            top: 0;
            z-index: -1;
        }
    }

// second page
    section.second {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2 {
            font-size: 2rem;
            margin: 2rem 0rem;
        }

        span {
            color:#09777D;
            font-size: 2rem;
        }

        section.cards {
            display: flex;
            width: 80%;
            min-height: 80vh;
            flex-wrap: wrap;

        div.card {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 1rem;
            flex: 1 1 300px;

            img {
                margin: 1rem 0rem;
                border-radius: 50%;
                width: 15vw;
                height: 15vw;
            }
            h4 {
                font-size: 2rem;
                margin: 1rem 0rem;
                
            }

            p {
                font-size: 1.25rem;
            }

            a {
                margin: 1rem 0rem;
                text-decoration: none;
                background-color: #09777D;
                color: white;
                padding: 1rem 1.5rem;
                font-size: 1.35rem;
                border-radius: 0.5rem;
                cursor: pointer;
            }
        }

        }
    }

}

footer {
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(207, 207, 207);

    div.logo {
        display: flex;
        align-items: center;

        img {
            width: 6vw;
            height: 6vw;
        }
    }

    nav {
        width: 30%;

        ul {
            display: flex;
            list-style-type: none;
            justify-content: space-around;
            width: 100%;
            flex-wrap: wrap;
            
            li {
                flex-basis: 100px;
                a {
                    text-decoration: none;
                    font-size: 1.35rem;
                    color: black;
                    font-weight: 600;
                }
            }
    
        }
    }


    section.links {
        a {
            margin: 0rem 1rem;
            img {
                width: 5vw;
                height: 5vw;
            }
        }
    }

}

// scrollbar setting
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #09777D;
  }
  

@media screen and (max-width: 700px) {
    main {
        section.second {
            section.cards {
                div.card {
                    img {
                        width: 40vw;
                        height: 40vw;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 550px) {
    header {
      div.logo {
        margin-left: 0.5rem;
        img {
          width: 15vw;
          height: 15vw;
        }
      }
    }

    footer {
        div.logo {
            img {
            width: 15vw;
            height: 15vw;
            }
        }

        section.links {
            margin-top: 1rem;
            a {
                img {
                    width: 10vw;
                    height: 10vw;
                }
            }
        }
    }
}